<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.twy.mybatisplusdemo.mapper.TestMapper">
    <insert id="save" parameterType="com.twy.mybatisplusdemo.entity.Test">
        INSERT INTO test (id,name,address) VALUES (#{id},#{name},#{address})
    </insert>
</mapper>